# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\码云\excel-read-write-util\excel-util\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
